<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_room_path(@room) %>

<p>
  <strong>Handler:</strong>
  <%= @room.handler %>
</p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Welcome:</strong>
  <%= @room.welcome %>
</p>

<p>
  <strong>Moderator:</strong>
  <%= @room.moderator %>
</p>

<p>
  <strong>Viewer:</strong>
  <%= @room.viewer %>
</p>

<p>
  <strong>Recording:</strong>
  <%= @room.recording %>
</p>

<p>
  <strong>Wait moderator:</strong>
  <%= @room.wait_moderator %>
</p>

<p>
  <strong>All moderators:</strong>
  <%= @room.all_moderators %>
</p>

<p>
  <%= link_to "Join", meeting_join_path, :target => "_blank" %>
</p>
<% if is_admin? %>
<%= link_to 'Back', rooms_path %>
<% end %>
