<div id="body" class="bbbroom">

<p id="notice"><%= notice %></p>


<% if is_admin? %>
<p>
  <strong>Handler:</strong>
  <%= @room.handler %>
  <%= link_to 'Show all', rooms_path, :class => "btn btn-xs btn-default pull-right" %>
</p>
<% end %>

<br>

<%= link_to '', '#',:name => 'Refresh', :class => "btn btn-default glyphicon glyphicon-refresh pull-left", :onClick  => "location.reload();" %>

<% if is_admin? || is_moderator %>
<%= link_to '', edit_room_path(@room), :name => 'Edit', :class => "btn btn-default glyphicon glyphicon-edit pull-right" %>
<% end %>

<br>
<h1><%= @room.name %></h1>

<h3><%= @room.description %></h3>

<%= link_to "Join", meeting_join_path, :target => "_blank", :class => "btn btn-primary", :type => "button"  %>

</div>
